   <footer>
    <div class="pull-right">
       Easy Cash Müşteri Paneli @DateTime.Now.Year | Tüm Hakları Saklıdır<a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>